*filter
:ufw-user-input - [0:0]
:ufw-user-output - [0:0]
:ufw-user-forward - [0:0]
:ufw-before-logging-input - [0:0]
:ufw-before-logging-output - [0:0]
:ufw-before-logging-forward - [0:0]
:ufw-user-logging-input - [0:0]
:ufw-user-logging-output - [0:0]
:ufw-user-logging-forward - [0:0]
:ufw-after-logging-input - [0:0]
:ufw-after-logging-output - [0:0]
:ufw-after-logging-forward - [0:0]
:ufw-logging-deny - [0:0]
:ufw-logging-allow - [0:0]
:ufw-user-limit - [0:0]
:ufw-user-limit-accept - [0:0]
### RULES ###

### tuple ### reject any any 0.0.0.0/0 any 47.84.139.62 in comment=6279204661696c3242616e206166746572203520617474656d70747320616761696e73742073736864
-A ufw-user-input -s 47.84.139.62 -j REJECT

### tuple ### reject any any 0.0.0.0/0 any 45.148.10.152 in comment=6279204661696c3242616e206166746572203520617474656d70747320616761696e73742073736864
-A ufw-user-input -s 45.148.10.152 -j REJECT

### tuple ### reject any any 0.0.0.0/0 any 45.148.10.147 in comment=6279204661696c3242616e206166746572203520617474656d70747320616761696e73742073736864
-A ufw-user-input -s 45.148.10.147 -j REJECT

### tuple ### limit tcp 22 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 22 -m conntrack --ctstate NEW -m recent --set
-A ufw-user-input -p tcp --dport 22 -m conntrack --ctstate NEW -m recent --update --seconds 30 --hitcount 6 -j ufw-user-limit
-A ufw-user-input -p tcp --dport 22 -j ufw-user-limit-accept

### tuple ### allow tcp 80 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 80 -j ACCEPT

### tuple ### allow tcp 443 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 443 -j ACCEPT

### tuple ### allow udp 443 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p udp --dport 443 -j ACCEPT

### tuple ### allow tcp 25 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 25 -j ACCEPT

### tuple ### allow tcp 993 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 993 -j ACCEPT

### tuple ### allow udp any 0.0.0.0/0 any 213.32.19.229 in
-A ufw-user-input -p udp -s 213.32.19.229 -j ACCEPT

### tuple ### allow tcp 465 0.0.0.0/0 any 0.0.0.0/0 in comment=736d7470207375626d697373696f6e2028696d706c6963697420544c5329
-A ufw-user-input -p tcp --dport 465 -j ACCEPT

### tuple ### allow tcp 8080 0.0.0.0/0 any 172.16.0.0/12 in comment=757074696d652d6b756d61206f6e696f6e2076686f7374206865616c7468636865636b
-A ufw-user-input -p tcp --dport 8080 -s 172.16.0.0/12 -j ACCEPT

### tuple ### allow tcp 1080 0.0.0.0/0 any 192.168.1.0/24 in
-A ufw-user-input -p tcp --dport 1080 -s 192.168.1.0/24 -j ACCEPT

### tuple ### allow tcp 1080 0.0.0.0/0 any 10.0.0.0/24 in
-A ufw-user-input -p tcp --dport 1080 -s 10.0.0.0/24 -j ACCEPT

### END RULES ###

### LOGGING ###
-A ufw-after-logging-input -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-after-logging-forward -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-I ufw-logging-deny -m conntrack --ctstate INVALID -j RETURN -m limit --limit 3/min --limit-burst 10
-A ufw-logging-deny -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-allow -j LOG --log-prefix "[UFW ALLOW] " -m limit --limit 3/min --limit-burst 10
### END LOGGING ###

### RATE LIMITING ###
-A ufw-user-limit -m limit --limit 3/minute -j LOG --log-prefix "[UFW LIMIT BLOCK] "
-A ufw-user-limit -j REJECT
-A ufw-user-limit-accept -j ACCEPT
### END RATE LIMITING ###
COMMIT
